[submodule "libs/Round-Anything"]
	path = libs/Round-Anything
	url = git@github.com:Irev-Dev/Round-Anything.git

[submodule "libs/Honeycomb"]
	path = libs/Honeycomb
	url = git@github.com:geru/3d-scad-hsw-customizable.git
